.aifian-bg{
    height: 200px;
}
.result365,.result7,.resultAifi{
    height: 100px;
}
.bg-header{
    background-image: url(../img/og-image.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
}
.footer{
    height: 100px;
}