mixin link(name,url)
    if(path === url)
        li.nav-item.active
            a.nav-link(href=url)
                | #{name}
    else
        li.nav-item
            a.nav-link(href=url)
                | #{name}
.container.bg-header
    nav.navbar.navbar-expand-lg.navbar-dark.font-weight-bold
        a.navbar-brand(href='#') Aifian驗證回饋
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav
                each item in menu.list
                    +link(item.name,item.url)
                li.nav-item
                    a.nav-link.active(href='/excel/AifianExecl.xlsx') 歷史紀錄表(EXCEL版)