extend layout/layout.pug
block navbar
    - var path = "index.html"
    include layout/navbar.pug
block content
    #main-container.container
        form#fromList
            .form-group
                label(for='aifiMoney') 投資金額(AIFI)
                input#aifiMoney.form-control(type='number', min='3000', max='297000', placeholder='3000')
                small#emailHelp.form-text.text-muted 請輸入您已經投資的Aifi金額.
            .form-group
                label(for='percentage') 上週年化回饋 (%)
                input#percentage.form-control(type='text', placeholder='8.5')
            a#calculate.btn.btn-primary(href='#') 送出
        #appAifian
        .h3 歷史紀錄
        small
            | (僅記錄在本機瀏覽器中，請注意
            span.text-danger 紀錄有可能會不見唷!。
            | )
        #localAifianList.text-white
    include layout/footer.pug
    script.
        const fromListID = document.getElementById('fromList');
        const containerID = document.getElementById('main-container');
        const aifiMoneyID = document.getElementById('aifiMoney');
        const percentageID = document.getElementById('percentage');
        const calculateID = document.getElementById('calculate');
        let aifianArrayList = JSON.parse(localStorage.getItem('aifianList')) || [];
        //-event
        calculateID.addEventListener('click', calculateTotalAifi);
        containerID.addEventListener('click', removeAifian);
        aifiMoneyID.addEventListener('blur', Verify);
        percentageID.addEventListener('blur', Verify);
        loaclIndex(aifianArrayList);